<html>
<head>
    <style type="text/css">
        .entry-title {
            font-weight: bold;
        }

        .entry-date {
            font-style: italic;
        }

        .entry-body {
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <% entries.map(function (entry) { %>
        <div class="entry-title"><%= entry.title %></div>
        <div class="entry-date"><%= entry.date %></div>
        <div class="entry-body"><%= entry.body %></div>
    <% }); %>
</body>
</html>